In [1]:
import os
import numpy as np
import pandas as pd

#read The Data

We have defrint type of Data which we can read like:
    1- .csv
    2- .txt
    3- .xlsx
    ....

In [2]:
# Read the data in csv format
td = pd.read_csv('../pokemon_data.csv',index_col = 0)

In [3]:
td.count()

Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [4]:
# Create a Copy from our _Data
sa = td.copy(deep=True)
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
# Get the index of dataFrame
sa.index

Int64Index([  1,   2,   3,   3,   4,   5,   6,   6,   6,   7,
            ...
            714, 715, 716, 717, 718, 719, 719, 720, 720, 721],
           dtype='int64', name='#', length=800)

In [6]:
# Get the Column of DataFram
sa.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
#  Get the number of Element of dataFrame or number of cells
sa.size

8800

In [8]:
# Get the the Shape of DataFarame
sa.shape

(800, 11)

In [9]:
#Get the Size of memory that our dataFrame
sa.memory_usage

<bound method DataFrame.memory_usage of                       Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur    Grass  Poison  45      49       49       65
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire     NaN  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True

[800 rows x 11 columns]>

In [10]:
# Get the dim of our DataFrame
sa.ndim

2

In [11]:
# Head---> head method return us the number of row which we spesific...
#by default head return the first five row
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [12]:
#Tail() the tail method return us the number of row from end of our datafram
sa.tail(4)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
sa.at[720,'Name']

#
720    HoopaHoopa Confined
720     HoopaHoopa Unbound
Name: Name, dtype: object

In [14]:
#at is return as the value which we spesific that row is 1 and column is Name
sa.at[1,'Name']

'Bulbasaur'

In [15]:
# and iat is return the spesific and we will pass all number and it's the defrint of the at and iat
sa.iat[1,4]

62

In [16]:
# also we loc and iloc which use fro return the group of datafram
sa.loc[:,'Name']

#
1                  Bulbasaur
2                    Ivysaur
3                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
719                  Diancie
719      DiancieMega Diancie
720      HoopaHoopa Confined
720       HoopaHoopa Unbound
721                Volcanion
Name: Name, Length: 800, dtype: object

In [17]:
sa.iloc[0,:]

Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 1, dtype: object

In [18]:
sa.count()

Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [19]:
#Get the DataType of our DataFrame
sa.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [20]:
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [21]:
#Count the Uniq Value
sa.get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

In [ ]:
print(2+2)

4

In [ ]:
#Selecting Data by DataType
# Syntax:
#         DataFram.select_dtype(include,exclude)

sa.select_dtypes(exclude=['int32'])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# Conside the Data fram information

sa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
dtypes: bool(1), int64(7), object(3)
memory usage: 101.8+ KB

In [ ]:
print(np.unique(sa['Name']))

['Abomasnow' 'AbomasnowMega Abomasnow' 'Abra' 'Absol' 'AbsolMega Absol'
 'Accelgor' 'AegislashBlade Forme' 'AegislashShield Forme' 'Aerodactyl'
 'AerodactylMega Aerodactyl' 'Aggron' 'AggronMega Aggron' 'Aipom'
 'Alakazam' 'AlakazamMega Alakazam' 'Alomomola' 'Altaria'
 'AltariaMega Altaria' 'Amaura' 'Ambipom' 'Amoonguss' 'Ampharos'
 'AmpharosMega Ampharos' 'Anorith' 'Arbok' 'Arcanine' 'Arceus' 'Archen'
 'Archeops' 'Ariados' 'Armaldo' 'Aromatisse' 'Aron' 'Articuno' 'Audino'
 'AudinoMega Audino' 'Aurorus' 'Avalugg' 'Axew' 'Azelf' 'Azumarill'
 'Azurill' 'Bagon' 'Baltoy' 'Banette' 'BanetteMega Banette' 'Barbaracle'
 'Barboach' 'Basculin' 'Bastiodon' 'Bayleef' 'Beartic' 'Beautifly'
 'Beedrill' 'BeedrillMega Beedrill' 'Beheeyem' 'Beldum' 'Bellossom'
 'Bellsprout' 'Bergmite' 'Bibarel' 'Bidoof' 'Binacle' 'Bisharp'
 'Blastoise' 'BlastoiseMega Blastoise' 'Blaziken' 'BlazikenMega Blaziken'
 'Blissey' 'Blitzle' 'Boldore' 'Bonsly' 'Bouffalant' 'Braixen' 'Braviary'
 'Breloom' 'Bronzong' 'Bronzor' 'Budew' 'Buizel' 'Bulbasaur' 'Buneary'
 'Bunnelby' 'Burmy' 'Butterfree' 'Cacnea' 'Cacturne' 'Camerupt'
 'CameruptMega Camerupt' 'Carbink' 'Carnivine' 'Carracosta' 'Carvanha'
 'Cascoon' 'Castform' 'Caterpie' 'Celebi' 'Chandelure' 'Chansey'
 'Charizard' 'CharizardMega Charizard X' 'CharizardMega Charizard Y'
 'Charmander' 'Charmeleon' 'Chatot' 'Cherrim' 'Cherubi' 'Chesnaught'
 'Chespin' 'Chikorita' 'Chimchar' 'Chimecho' 'Chinchou' 'Chingling'
 'Cinccino' 'Clamperl' 'Clauncher' 'Clawitzer' 'Claydol' 'Clefable'
 'Clefairy' 'Cleffa' 'Cloyster' 'Cobalion' 'Cofagrigus' 'Combee'
 'Combusken' 'Conkeldurr' 'Corphish' 'Corsola' 'Cottonee' 'Cradily'
 'Cranidos' 'Crawdaunt' 'Cresselia' 'Croagunk' 'Crobat' 'Croconaw'
 'Crustle' 'Cryogonal' 'Cubchoo' 'Cubone' 'Cyndaquil' 'Darkrai'
 'DarmanitanStandard Mode' 'DarmanitanZen Mode' 'Darumaka' 'Dedenne'
 'Deerling' 'Deino' 'Delcatty' 'Delibird' 'Delphox' 'DeoxysAttack Forme'
 'DeoxysDefense Forme' 'DeoxysNormal Forme' 'DeoxysSpeed Forme' 'Dewgong'
 'Dewott' 'Dialga' 'Diancie' 'DiancieMega Diancie' 'Diggersby' 'Diglett'
 'Ditto' 'Dodrio' 'Doduo' 'Donphan' 'Doublade' 'Dragalge' 'Dragonair'
 'Dragonite' 'Drapion' 'Dratini' 'Drifblim' 'Drifloon' 'Drilbur' 'Drowzee'
 'Druddigon' 'Ducklett' 'Dugtrio' 'Dunsparce' 'Duosion' 'Durant'
 'Dusclops' 'Dusknoir' 'Duskull' 'Dustox' 'Dwebble' 'Eelektrik'
 'Eelektross' 'Eevee' 'Ekans' 'Electabuzz' 'Electivire' 'Electrike'
 'Electrode' 'Elekid' 'Elgyem' 'Emboar' 'Emolga' 'Empoleon' 'Entei'
 'Escavalier' 'Espeon' 'Espurr' 'Excadrill' 'Exeggcute' 'Exeggutor'
 'Exploud' "Farfetch'd" 'Fearow' 'Feebas' 'Fennekin' 'Feraligatr'
 'Ferroseed' 'Ferrothorn' 'Finneon' 'Flaaffy' 'Flabébé' 'Flareon'
 'Fletchinder' 'Fletchling' 'Floatzel' 'Floette' 'Florges' 'Flygon'
 'Foongus' 'Forretress' 'Fraxure' 'Frillish' 'Froakie' 'Frogadier'
 'Froslass' 'Furfrou' 'Furret' 'Gabite' 'Gallade' 'GalladeMega Gallade'
 'Galvantula' 'Garbodor' 'Garchomp' 'GarchompMega Garchomp' 'Gardevoir'
 'GardevoirMega Gardevoir' 'Gastly' 'Gastrodon' 'Genesect' 'Gengar'
 'GengarMega Gengar' 'Geodude' 'Gible' 'Gigalith' 'Girafarig'
 'GiratinaAltered Forme' 'GiratinaOrigin Forme' 'Glaceon' 'Glalie'
 'GlalieMega Glalie' 'Glameow' 'Gligar' 'Gliscor' 'Gloom' 'Gogoat'
 'Golbat' 'Goldeen' 'Golduck' 'Golem' 'Golett' 'Golurk' 'Goodra' 'Goomy'
 'Gorebyss' 'Gothita' 'Gothitelle' 'Gothorita' 'GourgeistAverage Size'
 'GourgeistLarge Size' 'GourgeistSmall Size' 'GourgeistSuper Size'
 'Granbull' 'Graveler' 'Greninja' 'Grimer' 'Grotle' 'Groudon'
 'GroudonPrimal Groudon' 'Grovyle' 'Growlithe' 'Grumpig' 'Gulpin'
 'Gurdurr' 'Gyarados' 'GyaradosMega Gyarados' 'Happiny' 'Hariyama'
 'Haunter' 'Hawlucha' 'Haxorus' 'Heatmor' 'Heatran' 'Heliolisk'
 'Helioptile' 'Heracross' 'HeracrossMega Heracross' 'Herdier' 'Hippopotas'
 'Hippowdon' 'Hitmonchan' 'Hitmonlee' 'Hitmontop' 'Ho-oh' 'Honchkrow'
 'Honedge' 'HoopaHoopa Confined' 'HoopaHoopa Unbound' 'Hoothoot' 'Hoppip'
 'Horsea' 'Houndoom' 'HoundoomMega Houndoom' 'Houndour' 'Huntail'
 'Hydreigon' 'Hypno' 'Igglybuff' 'Illumise' 'Infernape' 'Inkay' 'Ivysaur'
 'Jellicent' 'Jigglypuff' 'Jirachi' 'Jolteon' 'Joltik' 'Jumpluff' 'Jynx'
 'Kabuto' 'Kabutops' 'Kadabra' 'Kakuna' 'Kangaskhan'
 'KangaskhanMega Kangaskhan' 'Karrablast' 'Kecleon' 'KeldeoOrdinary Forme'
 'KeldeoResolute Forme' 'Kingdra' 'Kingler' 'Kirlia' 'Klang' 'Klefki'
 'Klink' 'Klinklang' 'Koffing' 'Krabby' 'Kricketot' 'Kricketune'
 'Krokorok' 'Krookodile' 'Kyogre' 'KyogrePrimal Kyogre' 'Kyurem'
 'KyuremBlack Kyurem' 'KyuremWhite Kyurem' 'Lairon' 'Lampent'
 'LandorusIncarnate Forme' 'LandorusTherian Forme' 'Lanturn' 'Lapras'
 'Larvesta' 'Larvitar' 'Latias' 'LatiasMega Latias' 'Latios'
 'LatiosMega Latios' 'Leafeon' 'Leavanny' 'Ledian' 'Ledyba' 'Lickilicky'
 'Lickitung' 'Liepard' 'Lileep' 'Lilligant' 'Lillipup' 'Linoone' 'Litleo'
 'Litwick' 'Lombre' 'Lopunny' 'LopunnyMega Lopunny' 'Lotad' 'Loudred'
 'Lucario' 'LucarioMega Lucario' 'Ludicolo' 'Lugia' 'Lumineon' 'Lunatone'
 'Luvdisc' 'Luxio' 'Luxray' 'Machamp' 'Machoke' 'Machop' 'Magby'
 'Magcargo' 'Magikarp' 'Magmar' 'Magmortar' 'Magnemite' 'Magneton'
 'Magnezone' 'Makuhita' 'Malamar' 'Mamoswine' 'Manaphy' 'Mandibuzz'
 'Manectric' 'ManectricMega Manectric' 'Mankey' 'Mantine' 'Mantyke'
 'Maractus' 'Mareep' 'Marill' 'Marowak' 'Marshtomp' 'Masquerain' 'Mawile'
 'MawileMega Mawile' 'Medicham' 'MedichamMega Medicham' 'Meditite'
 'Meganium' 'MeloettaAria Forme' 'MeloettaPirouette Forme'
 'MeowsticFemale' 'MeowsticMale' 'Meowth' 'Mesprit' 'Metagross'
 'MetagrossMega Metagross' 'Metang' 'Metapod' 'Mew' 'Mewtwo'
 'MewtwoMega Mewtwo X' 'MewtwoMega Mewtwo Y' 'Mienfoo' 'Mienshao'
 'Mightyena' 'Milotic' 'Miltank' 'Mime Jr.' 'Minccino' 'Minun'
 'Misdreavus' 'Mismagius' 'Moltres' 'Monferno' 'Mothim' 'Mr. Mime'
 'Mudkip' 'Muk' 'Munchlax' 'Munna' 'Murkrow' 'Musharna' 'Natu' 'Nidoking'
 'Nidoqueen' 'Nidoran (Female)' 'Nidoran (Male)' 'Nidorina' 'Nidorino'
 'Nincada' 'Ninetales' 'Ninjask' 'Noctowl' 'Noibat' 'Noivern' 'Nosepass'
 'Numel' 'Nuzleaf' 'Octillery' 'Oddish' 'Omanyte' 'Omastar' 'Onix'
 'Oshawott' 'Pachirisu' 'Palkia' 'Palpitoad' 'Pancham' 'Pangoro' 'Panpour'
 'Pansage' 'Pansear' 'Paras' 'Parasect' 'Patrat' 'Pawniard' 'Pelipper'
 'Persian' 'Petilil' 'Phanpy' 'Phantump' 'Phione' 'Pichu' 'Pidgeot'
 'PidgeotMega Pidgeot' 'Pidgeotto' 'Pidgey' 'Pidove' 'Pignite' 'Pikachu'
 'Piloswine' 'Pineco' 'Pinsir' 'PinsirMega Pinsir' 'Piplup' 'Plusle'
 'Politoed' 'Poliwag' 'Poliwhirl' 'Poliwrath' 'Ponyta' 'Poochyena'
 'Porygon' 'Porygon-Z' 'Porygon2' 'Primeape' 'Prinplup' 'Probopass'
 'Psyduck' 'PumpkabooAverage Size' 'PumpkabooLarge Size'
 'PumpkabooSmall Size' 'PumpkabooSuper Size' 'Pupitar' 'Purrloin'
 'Purugly' 'Pyroar' 'Quagsire' 'Quilava' 'Quilladin' 'Qwilfish' 'Raichu'
 'Raikou' 'Ralts' 'Rampardos' 'Rapidash' 'Raticate' 'Rattata' 'Rayquaza'
 'RayquazaMega Rayquaza' 'Regice' 'Regigigas' 'Regirock' 'Registeel'
 'Relicanth' 'Remoraid' 'Reshiram' 'Reuniclus' 'Rhydon' 'Rhyhorn'
 'Rhyperior' 'Riolu' 'Roggenrola' 'Roselia' 'Roserade' 'Rotom'
 'RotomFan Rotom' 'RotomFrost Rotom' 'RotomHeat Rotom' 'RotomMow Rotom'
 'RotomWash Rotom' 'Rufflet' 'Sableye' 'SableyeMega Sableye' 'Salamence'
 'SalamenceMega Salamence' 'Samurott' 'Sandile' 'Sandshrew' 'Sandslash'
 'Sawk' 'Sawsbuck' 'Scatterbug' 'Sceptile' 'SceptileMega Sceptile'
 'Scizor' 'ScizorMega Scizor' 'Scolipede' 'Scrafty' 'Scraggy' 'Scyther'
 'Seadra' 'Seaking' 'Sealeo' 'Seedot' 'Seel' 'Seismitoad' 'Sentret'
 'Serperior' 'Servine' 'Seviper' 'Sewaddle' 'Sharpedo'
 'SharpedoMega Sharpedo' 'ShayminLand Forme' 'ShayminSky Forme' 'Shedinja'
 'Shelgon' 'Shellder' 'Shellos' 'Shelmet' 'Shieldon' 'Shiftry' 'Shinx'
 'Shroomish' 'Shuckle' 'Shuppet' 'Sigilyph' 'Silcoon' 'Simipour'
 'Simisage' 'Simisear' 'Skarmory' 'Skiddo' 'Skiploom' 'Skitty' 'Skorupi'
 'Skrelp' 'Skuntank' 'Slaking' 'Slakoth' 'Sliggoo' 'Slowbro'
 'SlowbroMega Slowbro' 'Slowking' 'Slowpoke' 'Slugma' 'Slurpuff'
 'Smeargle' 'Smoochum' 'Sneasel' 'Snivy' 'Snorlax' 'Snorunt' 'Snover'
 'Snubbull' 'Solosis' 'Solrock' 'Spearow' 'Spewpa' 'Spheal' 'Spinarak'
 'Spinda' 'Spiritomb' 'Spoink' 'Spritzee' 'Squirtle' 'Stantler'
 'Staraptor' 'Staravia' 'Starly' 'Starmie' 'Staryu' 'Steelix'
 'SteelixMega Steelix' 'Stoutland' 'Stunfisk' 'Stunky' 'Sudowoodo'
 'Suicune' 'Sunflora' 'Sunkern' 'Surskit' 'Swablu' 'Swadloon' 'Swalot'
 'Swampert' 'SwampertMega Swampert' 'Swanna' 'Swellow' 'Swinub' 'Swirlix'
 'Swoobat' 'Sylveon' 'Taillow' 'Talonflame' 'Tangela' 'Tangrowth' 'Tauros'
 'Teddiursa' 'Tentacool' 'Tentacruel' 'Tepig' 'Terrakion' 'Throh'
 'ThundurusIncarnate Forme' 'ThundurusTherian Forme' 'Timburr' 'Tirtouga'
 'Togekiss' 'Togepi' 'Togetic' 'Torchic' 'Torkoal'
 'TornadusIncarnate Forme' 'TornadusTherian Forme' 'Torterra' 'Totodile'
 'Toxicroak' 'Tranquill' 'Trapinch' 'Treecko' 'Trevenant' 'Tropius'
 'Trubbish' 'Turtwig' 'Tympole' 'Tynamo' 'Typhlosion' 'Tyranitar'
 'TyranitarMega Tyranitar' 'Tyrantrum' 'Tyrogue' 'Tyrunt' 'Umbreon'
 'Unfezant' 'Unown' 'Ursaring' 'Uxie' 'Vanillish' 'Vanillite' 'Vanilluxe'
 'Vaporeon' 'Venipede' 'Venomoth' 'Venonat' 'Venusaur'
 'VenusaurMega Venusaur' 'Vespiquen' 'Vibrava' 'Victini' 'Victreebel'
 'Vigoroth' 'Vileplume' 'Virizion' 'Vivillon' 'Volbeat' 'Volcanion'
 'Volcarona' 'Voltorb' 'Vullaby' 'Vulpix' 'Wailmer' 'Wailord' 'Walrein'
 'Wartortle' 'Watchog' 'Weavile' 'Weedle' 'Weepinbell' 'Weezing'
 'Whimsicott' 'Whirlipede' 'Whiscash' 'Whismur' 'Wigglytuff' 'Wingull'
 'Wobbuffet' 'Woobat' 'Wooper' 'WormadamPlant Cloak' 'WormadamSandy Cloak'
 'WormadamTrash Cloak' 'Wurmple' 'Wynaut' 'Xatu' 'Xerneas' 'Yamask'
 'Yanma' 'Yanmega' 'Yveltal' 'Zangoose' 'Zapdos' 'Zebstrika' 'Zekrom'
 'Zigzagoon' 'Zoroark' 'Zorua' 'Zubat' 'Zweilous' 'Zygarde50% Forme']

In [ ]:
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
print(np.unique(sa['Type 1']))

['Bug' 'Dark' 'Dragon' 'Electric' 'Fairy' 'Fighting' 'Fire' 'Flying'
 'Ghost' 'Grass' 'Ground' 'Ice' 'Normal' 'Poison' 'Psychic' 'Rock' 'Steel'
 'Water']

In [ ]:
sa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
dtypes: bool(1), int64(7), object(3)
memory usage: 101.8+ KB

In [22]:
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False