In [1]:
import os
import numpy as np
import pandas as pd

#read The Data

We have defrint type of Data which we can read like:
    1- .csv
    2- .txt
    3- .xlsx
    ....

In [2]:
# Read the data in csv format
td = pd.read_csv('../pokemon_data.csv',index_col = 0)

In [3]:
td.count()

Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [4]:
# Create a Copy from our _Data
sa = td.copy(deep=True)
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
# Get the index of dataFrame
sa.index

Int64Index([  1,   2,   3,   3,   4,   5,   6,   6,   6,   7,
            ...
            714, 715, 716, 717, 718, 719, 719, 720, 720, 721],
           dtype='int64', name='#', length=800)

In [6]:
# Get the Column of DataFram
sa.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
#  Get the number of Element of dataFrame or number of cells
sa.size

8800

In [8]:
# Get the the Shape of DataFarame
sa.shape

(800, 11)

In [9]:
#Get the Size of memory that our dataFrame
sa.memory_usage

<bound method DataFrame.memory_usage of                       Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1                Bulbasaur    Grass  Poison  45      49       49       65
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire     NaN  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True

[800 rows x 11 columns]>

In [10]:
# Get the dim of our DataFrame
sa.ndim

2

In [11]:
# Head---> head method return us the number of row which we spesific...
#by default head return the first five row
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [12]:
#Tail() the tail method return us the number of row from end of our datafram
sa.tail(4)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
sa.at[720,'Name']

#
720    HoopaHoopa Confined
720     HoopaHoopa Unbound
Name: Name, dtype: object

In [14]:
#at is return as the value which we spesific that row is 1 and column is Name
sa.at[1,'Name']

'Bulbasaur'

In [15]:
# and iat is return the spesific and we will pass all number and it's the defrint of the at and iat
sa.iat[1,4]

62

In [16]:
# also we loc and iloc which use fro return the group of datafram
sa.loc[:,'Name']

#
1                  Bulbasaur
2                    Ivysaur
3                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
719                  Diancie
719      DiancieMega Diancie
720      HoopaHoopa Confined
720       HoopaHoopa Unbound
721                Volcanion
Name: Name, Length: 800, dtype: object

In [17]:
sa.iloc[0,:]

Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 1, dtype: object

In [24]:
sa.count()

Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [26]:
#Get the DataType of our DataFrame
sa.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [27]:
sa.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [32]:
#Count the Uniq Value
sa.get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".